log:
  level: INFO
  format: json

accessLog:
  format: json
  bufferingSize: 5

providers:
  docker:
    watch: true
    endpoint: unix:///var/run/docker.sock
    exposedByDefault: true
    swarmMode: true
    network: traefik-public
    swarmModeRefreshSeconds: 5

  file:
    directory: /conf.d
    watch: true

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: "websecure"
          scheme: "https"
    # forwardedHeaders:
    #   insecure: true

  websecure:
    address: ":443"
    # forwardedHeaders:
    #   insecure: true

#   ping:
#     address: :8082
#   metrics:
#     address: :8083

# ping:
#   entryPoint: ping

metrics:
  prometheus:
    # entryPoint: metrics
    addServicesLabels: true
    buckets:
    - 0.1
    - 0.3
    - 1.2
    - 5.0

certificatesResolvers:
  myresolver:
    acme:
      email: fatigati.michael@gmail.com
      storage: /assets/letsencrypt/acme.json
      tlsChallenge: {}

api:
  insecure: true
  dashboard: true
  # debug: true