---
- name: Transfer dynamic config to manager
  hosts: managers
  become: true
  tasks:
    - name: Populate dynamic config template and transfer
      template:
        src: ../assets/template_{{ appName }}_dynamic_config.yml
        dest: /conf.d/{{ appName }}_dynamic.yml