---
- name: Transfer dynamic config to manager
  hosts: managers
  become: true
  tasks:
    - name: Populate dynamic config template and transfer
      template:
        src: ../assets/dynamic_template.yml
        dest: /conf.d/{{ appName }}_dynamic.yml
- name: Transfer a template to the manager
  hosts: managers
  become: true
  # vars:
  #   imageName: "{{ imageNameToTemplate }}"
  #   hostName: "{{ hostNameToTemplate }}"
  #   appName: "{{ appNameToTemplate }}"
  tasks:
    - name: Populate dual compose template and transfer
      template:
        src: ../assets/template_no_db_canary.yml
        dest: /{{ appName }}_canary.yml
- name: Deploy application 
  hosts: managers
  become: true
  tasks:
    - name: Deploy new service stack
      command: sudo docker stack deploy -c /{{ appName }}_canary.yml "{{ appName }}"