---
- name: Turn off traffic to canary by redeploying original production stack
  hosts: managers
  become: true
  tasks:
    - name: Deploy original production stack
      command: sudo docker stack deploy -c /{{ appName }}_production.yml "{{ appName }}"
- name: Remove canary service
  hosts: managers
  become: true
  tasks:
    - name: Remove canary service
      command: sudo docker service rm {{ appName }}_canary
- name: Remove dynamic config file
  hosts: managers
  become: true
  tasks:
    - name: Remove the file
      file:
        path: /conf.d/{{ appName }}_dynamic.yml
        state: absent